@using OpenClasses.Auth
@model UserDto
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta charset="utf-8" />
    <title>MindfulTime</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

        <a class="navbar-brand ps-3" href="">MindfulTime</a>

        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
               @*  <input class="form-control" type="text" placeholder="Поиск..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button> *@
            </div>
        </form>

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><form class="dropdown-item" asp-controller="WorkSpace" asp-action="PrivateUserPage" method="post" >
                            <input type="hidden" name="Name" value="@Model.Name" />
                            <input type="hidden" name="Id" value="@Model.Id" />
                            <input type="hidden" name="Name" value="@Model.Name" />
                            <input type="hidden" name="Role" value="@Model.Role" />
                            <input type="hidden" name="Email" value="@Model.Email" />
                            <input type="hidden" name="TelegramId" value="@Model.TelegramId" />
                            <input type="hidden" name="IsSendMessage" value="@Model.IsSendMessage.ToString()" />
                            <input type="hidden" name="Password" value="password" />
                        <button type="submit" class="dropdown-item">@Model.Name</button>
                        </form></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><form class="dropdown-item" asp-controller="WorkSpace" asp-action="LogOut" method="post"><button type="submit" class="dropdown-item">Выход</button></form></li>
                </ul>
            </li>
        </ul>
    </nav>
    @{
        if(Model.Role == "Admin")
        {
            <div id="layoutSidenav">
                <div id="layoutSidenav_nav">
                    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                        <div class="sb-sidenav-menu">
                            <div class="nav">
                                <div class="sb-sidenav-menu-heading">Задачи</div>
                                <a class="nav-link" asp-controller="WorkSpace" asp-action="WorkSpace">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Календарь
                                </a>
                                <a class="nav-link" asp-controller="WorkSpace" asp-action="Servers">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                                    ToDo
                                </a>
                                <div class="sb-sidenav-menu-heading">Пользователи</div>
                                <a class="nav-link collapsed" asp-controller="WorkSpace" asp-action="EditUsers">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    Редактирование пользователей
                                </a>
                                <div class="sb-sidenav-menu-heading">Нейросеть</div>
                                <a class="nav-link collapsed" asp-controller="WorkSpace" asp-action="EditML">
                                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                    Редактирование нейросети
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content">
                    <main>
                        @RenderBody()
                    </main>
                </div>
            </div>
        }
        else
        {
            <div id="layoutSidenav">
                <div id="layoutSidenav_nav">
                    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                        <div class="sb-sidenav-menu">
                            <div class="nav">
                                <div class="sb-sidenav-menu-heading">Задачи</div>
                                <a class="nav-link" asp-controller="WorkSpace" asp-action="WorkSpace">
                                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                    Календарь
                                </a>
                                <a class="nav-link" asp-controller="WorkSpace" asp-action="Servers">
                                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div>
                                    ToDo
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div id="layoutSidenav_content">
                    <main>
                        @RenderBody()
                    </main>

                </div>

            </div>
        }
    }
    
    <script src="js/scripts.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>